<h2>BUSCA TU PAIS!</h2>
<hr>
<ul class="list-group">
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">Todos
        los paises</li>
    <li routerLink="region" routerLinkActive="active" class="list-group-item">Buscar por region</li>
    <li routerLink="capital" routerLinkActive="active" class="list-group-item">Buscar por capital</li>
    <li routerLink="pais/:id" routerLinkActive="active" class="list-group-item">Buscar pais</li>
</ul>